/*
Przeglądarki internetowe nadają znacznikom HTML wartości początkowe,
które się różnią w zależności od producenta (np. Chrome, Firefox, Opera, Internet Explorer, Microsoft Edge).
Dlatego popularną praktyką jest tworzenie tzw. resetów,
czyli plików CSS zawierających reguły, które nadpisują te wartości,
aby były one jednolite niezalenie od przeglądarki.

Więcej na ten temat: https://cssreset.com/what-is-a-css-reset/
*/

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans.eot');
    src: url('fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans.woff2') format('woff2'),
    url('fonts/OpenSans.woff') format('woff'),
    url('fonts/OpenSans.ttf') format('truetype'),
    url('fonts/OpenSans.svg#OpenSans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('fonts/OpenSans-Bold.eot');
    src: url('fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-Bold.woff2') format('woff2'),
    url('fonts/OpenSans-Bold.woff') format('woff'),
    url('fonts/OpenSans-Bold.ttf') format('truetype'),
    url('fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Semi-Bold';
    src: url('fonts/OpenSans-Semibold.eot');
    src: url('fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/OpenSans-Semibold.woff2') format('woff2'),
    url('fonts/OpenSans-Semibold.woff') format('woff'),
    url('fonts/OpenSans-Semibold.ttf') format('truetype'),
    url('fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("images/background.svg");
    background-attachment: fixed;
    background-size: cover;
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
ZAGADNIENIE PONADPROGRAMOWE

Rekomendowany zestaw właściwości, które pozwalają na ukrycie tekstu w taki sposób,
że będzie niewidoczny do standardowego użytkownika, a czytniki ekranowe wciąż będą go czytać.

Więcej na ten temat: https://webaim.org/techniques/css/invisiblecontent/
*/

.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/*
Sekcja pomocnicza, aby zwizualizować pozycje głównych bloków strony. Będzie usunięta w następnych krokach.
*/

.page-content {
    margin: 0 0 0 220px;
    padding: 0 10%;
    text-align: right;
}


/*
Koniec sekcji pomocniczej
*/

/*
Ustawiając sekcje nagłówka i stopki w pozycji 'fixed' sprawiamy,
że niezależnie od pozycji paska przewijania elementy te będą znajdowały się
w tej samej pozycji względem okna przeglądarki.
Natomiast pozycję tę ustawiamy za pomocą parametrów 'top', 'bottom', 'right', 'left'.
*/

/*
Lewy margines ustawiony na kontenerze z główną zawartością strony sprawia,
że nie będzie ona nachodzić na nagłówek i stopkę niezależnie od pozycji paska przewijania.
Na projekcie graficznym sekcja menu ma szerokość około 170px i jest oddalona od krawędzi ekranu
o 50px, więc można założyć, że 220px marginesu będzie wartością stosunkowo bezpieczną.
Z kolei spady (padding) nadane na kontener wyznaczają minimalną odległość, na jaką będzie oddalona
treść strony od otaczających ją granic kontenera (wartość "0 10%" jest
skrótem od padding-top: 0, padding-bottom: 0, padding-left: 10%, padding-right: 10%).
Właściwość "text-align: right" przykleja zawartość do prawej strony
(oddziałuje na elementy, które są elementami inline'owymi, np. tekst, znaczniki <a>, <span> czy elementy z nadanym stylem "display: inline-block").
*/


/*
Projekt graficzny zakłada, że każda sekcja strony będzie wypełniać całą wysokość okna przeglądarki
lub więcej, jeśli zawartość danej sekcji jest wyższa. Dlatego świetnym rozwiązaniem
będzie użycie jednostki "vh", która oznacza 1% wysokości okna przeglądarki z właściwością "min-height",
która wymusza wysokość elementu na zadaną wartość lub wyższą.
*/


.button {
    position: absolute;
    top: 15px;
    right: 0;
    outline: none;
    background-color: rgba(204, 200, 255, 0.1);
    border: none;
    padding: 9px;
    font-family: "Open Sans Semi-Bold", sans-serif;
    font-size: 12px;
    color: rgba(219, 216, 251, 0.8);
    letter-spacing: 0.8px;
    text-transform: uppercase;
}

.content-section {
    min-height: 100vh;
}


.content-section__header {
    font-family: "Open Sans", sans-serif;
    color: #EF008E;
    font-size: 28px;
    letter-spacing: 4.5px;
    text-transform: uppercase;
    padding: 0 0 50px;
}

/*HEADER SECTION*/

.page-header {
    position: fixed;
    top: 50px;
    left: 50px;
}
.page-navigation a:link, a:visited, a:hover, a:active {
    color: #EF008E;
    text-align: left;
    padding: 7px 0 7px 0;
    letter-spacing: 6.7px;
    text-decoration: none;
    display: inline-block;
}

.page-navigation__item {
    font-family: "Open Sans Bold", sans-serif;
    color: #EF008E;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
}


/*FOOTER SECTION*/

.page-footer {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.social-links a:link {
    margin: 20px 0;
    color: #EF008E;
    text-align: left;
    letter-spacing: 6.7px;
    text-decoration: none;
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-size: cover;

}

.social-links a:link#facebook {
    background-image: url(images/fb.svg);
}

.social-links a:link#instagram {
    background-image: url(images/insta.svg);
    background-repeat: no-repeat;
}

.social-links a:link#lastfm {
    background-image: url(images/last.svg);
    background-repeat: no-repeat;
}

.social-links a:link#youtube {
    background-image: url(images/yout.svg);
    background-repeat: no-repeat;
}

/*BAND MEMBERS SECTION*/

.band-members {
    opacity: 0.6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25%;
}

.band-members__name {
    font-family: "Open Sans Bold", sans-serif;
    color: #DBD8FB;
    font-size: 15px;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    text-align: left;
}

.band-members__desc {
    font-family: "Open Sans", sans-serif;
    color: #CCC8FF;
    font-size: 13px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 3.5px;
    opacity: 0.6;
}

/*ABOUT SECTION*/

.content-section img#about-image {
    box-sizing: content-box;
    border-top: 3px solid #EF008E;
    margin: 0 5px 0 0;
}

.about-section#about {
    position: relative;
}

.about-section__desc {
    background-color: rgba(37, 7, 46, 1);
    width: 400px;
    height: 400px;
    border-bottom: 3px solid #EF008E;
    position: absolute;
    top: 400px;
    left: 160px;
}

.about-section__desc-header {
    font-family: "Open Sans Bold", sans-serif;
    color: #CCC8FF;
    font-size: 15px;
    letter-spacing: 3.8px;
    text-transform: uppercase;
    padding: 40px 0 40px 40px;
    text-align: left;
}

.about-section__desc-details {
    color: #CCC8FF;
    opacity: 80%;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    letter-spacing: 1.5px;
    padding: 0 40px 50px;
    text-align: left;
}

/*CONCERTS SECTION*/

.content-section#concerts img {
    box-sizing: content-box;
    border-bottom: 3px solid #EF008E;
}

.concerts {
    margin: 0 195px 0 0;
    display: grid;
    grid-template: repeat(2, 200px) / repeat(2, 200px);
    column-gap: 250px;
    row-gap: 150px;
    justify-content: right;
}

.concerts img {
    width: 390px;
    height: 260px;
}

.concerts__image img {
    box-sizing: content-box;
    border-bottom: 3px solid #EF008E;
}

.concerts__info {
    width: 390px;
    position: relative;
}

.concerts__date {
    font-family: "Open Sans Bold", sans-serif;
    color: #CCC8FF;
    font-size: 15px;
    letter-spacing: 3.8px;
    padding: 15px 0 0;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
}

.concerts__location {
    color: #CCC8FF;
    opacity: 50%;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    letter-spacing: 3.5px;
    text-align: left;
    margin: 0;
}

/*VIDEO SECTION*/

.content-section#video {
    margin: 100px 0 0;
}

.content-section#video iframe {
    box-sizing: content-box;
    border-top: 3px solid #EF008E;
}

/*PHOTOS SECTION*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 845px;
    float: right;

}

.gallery > * {
    width: 261px;
    height: 195px;
    flex: 1 1 30%;
    margin: 10px;
}

@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template: repeat(3, 195px) / repeat(3, 261px);
        row-gap: 20px;
        column-gap: 20px;
        justify-content: right;
        float: none;
        width: auto;
        margin: 0 15px 0 0;
    }
}

.content-section#photos img {
    width: 261px;
    height: 195px;
    border-top: 3px solid #EF008E;

}

/*CONTACT SECTION*/

.content-section#contact {
    margin: 0 0 0 300px;
    position: relative;
}

.content-section#contact img {
    margin: 0;
    float: left;
    display: inline-block;
    max-width: 288px;
}

.content-section#contact address {
    margin: 140px 0 0 550px;
    position: absolute;
    text-align: left;
    color: #CCC8FF;
    opacity: 80%;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    letter-spacing: 1.5px;
    font-style: normal;
}

.form {
    margin: 350px 0 0 0;
    position: absolute;
    float: left;
}

.form__field {
    position: relative;

}

.form__field label {
    margin: 15px 0;
    display: block;
    text-align: left;
    color: #CCC8FF;
    opacity: 80%;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    letter-spacing: 1.5px;
    font-style: normal;

}

.form__field input {
    display: block;
    background-color: rgba(204, 200, 255, 0.5);
    width: 350px;
    height: 30px;
    outline: none;
    border-style: none;
    border-radius: 3px;
    border-color: rgba(204, 200, 255, 0.5);
}

.form__field button {
    left: 0;
    width: 140px;
    height: 30px;
    margin: 15px 0 0 0;
    text-align: center;
    padding: 0;
}

/*SMARTPHONES*/

@media (max-width: 360px) and (max-height: 640px) {

    /*GENERAL*/

    h1, h2, h3  {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    p {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
    }

    .page-content {
        margin: 0 0 0 0;
        text-align: center;
    }




    /*SECTION HEADER*/

    .content-section__header {
        padding: 70px 0 40px;
        display: inline-block;
    }

    .page-header {
        top: 0;
        left: 0;
        position: relative;
        margin: 30px 0 0 0;
        text-align: center;
    }

    .page-header img {
        margin: 0 0 0 5px;
    }

    .page-navigation a:link, a:visited, a:hover, a:active {
        text-align: left;
        padding: 2px 0 2px 0;
        display: inline-block;
    }




    /*SECTION FOOTER */

    .page-footer {
        position: relative;
        bottom: 0;
        left: 0;
        margin: 30px 0 0 0;
        text-align: center;
    }

    .social-links {
        display: grid;
        grid-template: repeat(1, auto) / repeat(4, auto);
        gap: 20px 60px;
        justify-content: center;
        float: none;
    }




    /*BAND MEMBERS SECTION*/

    .band-members {
        display: flex;
        flex-wrap: wrap;
        float: right;
    }

    .band-members img {
        max-width: 300px;
        max-height: 300px;
    }

    .band-members__name {
        text-align: center;
    }

    .band-members__desc {
        text-align: center;
    }

    .band-members__image {
        margin: 20px 0 0 0;
    }




    /*ABOUT SECTION*/

    .content-section img#about-image {
        box-sizing: content-box;
        border-top: 3px solid #EF008E;
        max-width: 300px;
    }

    .about-section__desc {
        background-color: rgba(37, 7, 46, 1);
        width: 300px;
        height: 400px;
        border-bottom: 3px solid #EF008E;
        position: sticky;
    }

    .about-section__desc-header {
        font-family: "Open Sans Bold", sans-serif;
        color: #CCC8FF;
        text-align: center;
        font-size: 15px;
        letter-spacing: 3.8px;
        text-transform: uppercase;
        padding: 30px 0;
    }




    /*CONCERTS SECTION*/

    .concerts {
        margin: 0 0 0 15px;
        display: grid;
        grid-template: repeat(4, 150px) / repeat(1, 50px);
        row-gap: 100px;
        justify-content: left;
    }

    .concerts img {
        max-width: 260px;
        max-height: 166px;
    }

    .concerts__info button.button {
        top: 18px;
        padding: 6px;
    }

    .concerts__info {
        width: 260px;
        position: relative;
    }




    /*VIDEO SECTION*/

    .content-section#video {
        margin: 0;
    }

    .content-section#video h2 {
        padding: 150px 0 40px;
    }

    .content-section#video iframe {
        width: 100%;
        height: auto;
    }

    section#video.content-section {
        min-height: 50vh;
    }




    /*GALLERY SECTION*/

    .gallery {
        display: grid;
        grid-template: repeat(9, 200px) / repeat(1, 50px);
        row-gap: 15px;
        justify-content: left;
        float: none;
        width: auto;
        margin: 0 0 0 5px;
    }
    



    /*CONTACT SECTION*/

    .content-section#contact {
        margin: 0;
        position: relative;
    }

    .content-section#contact address {
        margin: 0;
        position: sticky;
        text-align: center;
        padding: 15px 0;
        display: inline-block;
    }

    .form {
        margin: 0;
        position: sticky;
        float: left;
    }

    .form__field {
        position: sticky;

    }

    .form__field input {
        width: 288px;
        height: 30px;
    }

    .form__field button {
        margin: 15px 0 0 75px;
    }
}



